* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 1.5em 0 0;
  color: #607D8B;
  font-weight: bold;
}

.myMsg label {
  display: inline-block;
  width: 3em;
  margin: .5em 1.5em 0 0;
  color: #6E4FB0;
  font-weight: bold;
}

form {
  background: #eee;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 95%;
  border-radius: 4px;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

form button {
  width: 9%;
  background: #607D8B;
  border: none;
  padding: 10px;
  color: white;
  margin-top: 20px;
  cursor: hand;
}

form button:hover {
  background-color: #cfd8dc;
}

#messages {
  list-style-type: none;
  margin: 0 0 10em 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
