<div class="container">
	<div class="outer">
		<div class="inner">
				<h2>ROOMS</h2>
				<div class="list">
					<ul class="rooms">
						<li *ngFor="#room of rooms"
						[class.selected]="room === selectedRoom"
						(click)="onSelect(room)">
						<span class="badge">{{room.friend}}</span> {{room.s_accessed}}
					</li>
					</ul>
				<div>
					<div *ngIf="selectedRoom">
						<button (click)="joinChatting()">Join the Chat</button>
					</div>
					<input #friendId type="text"/>
					<button (click)="addRoom(friendId.value)">+</button>
				</div>
		</div>
	</div>
