<!-- <div *ngIf="user">
	<h2>{{user.name}} details!</h2>
	<div><label> id: </label>{{user.id}}</div>
	<div>
		<label>name: </label>
		<input [(ngModel)]="user.name" placeholder="name"/>
	</div>
	<button (click)="goBack()">Back</button>
</div> -->
<div id="scroll">
	<ul id="messages">
		<li *ngFor="#log of logs">
			<div [class.myMsg]="checkSender(log.sender)">
				<label>{{log.sender}}: </label>{{log.content}}
			</div>
		</li>
	</ul>
</div>
<form action="">
	<input [(ngModel)]="chatBox" (keyup.enter)="send(chatBox)" /><button (click)="send(chatBox)">Send</button>
</form>
